* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #333;
  font-family: sans-serif;
  background-color: #fcfcfc;
  background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png');
}

div.topline {
  height: 5px;
  background: #ff9933;
}

div.centered {
  align-items: center;
  align-content: center;
  width: 80%;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3px;
}

a.mail {
  color: #ff9933;
}

span.mark {
  color: #ff9933;
  background: #fcfcfc;
  background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png');
}

a i {
  color: #ff9933;
  padding: 5px;
  font-size: 30px;
}

a i:hover {
  color: #ff9933;
}
